.note_container {
  width: 300px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #00000050;
  padding: 10px;
  box-sizing: border-box;
}

.note_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.note_title {
  margin: 0;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  max-lines: 1;
  text-overflow: ellipsis;
}

.note_actions {
  width: 50px;
  display: flex;
  justify-content: space-around;
}

.action_edit,
.action_delete {
  font-size: 17px;
  color: var(--color-timestamp);
  cursor: pointer;
}

.action_edit:hover {
  color: var(--color-edit);
}
.action_delete:hover {
  color: var(--color-delete);
}

.note_content,
.note_timestamp {
  margin: 0;
}

.note_body {
  position: relative;
  margin-top: 10px;
}

.note_timestamp {
  font-size: 12px;
  color: var(--color-timestamp);
  text-align: end;
}

@media screen and (max-width: 400px) {
  .action_edit {
    color: var(--color-edit);
  }
  .action_delete {
    color: var(--color-delete);
  }
}
